# IDE/OSX related dirs
.vscode
.idea
.DS_Store

# byte-compiled/optimized
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# distribution/packaging
.Python
build/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
ENV/
env.bak/
venv.bak/

# user difened dir
aws-trainings/
bkash-apis/
drf_tutorial/
sanic-boilerplate/

# user defined files
csv-json-rw/*.json
csv-json-rw/*.csv
csv-json-rw/insert_into_db.py
_learn.md
